html {
  /*
   * Reference:  https://www.figma.com/design/3pWlMatoNdA2BT3BPVziFL/
   */

  /*
   * Generic Colours
   * Prefer the named colours over these!
   */
  --colour-shark-900: #222633;
  --colour-bunker-950: #18181B;

  /*
   * Neutral
   * Applied frequently for backgrounds, surfaces, dividers, and outlines.
   */
  --colour-neutral-base: #FEFFFF;
  --colour-neutral-lower: #F7F7F7;
  --colour-neutral-raised: var(--colour-neutral-base);
  --colour-neutral-subtle: var(--colour-neutral-lower);
  --colour-neutral-border: #DFE1EB;
  --colour-neutral-border-intense: #878999;

  /*
   * Primary
   * Applied frequently to surfaces highlight actions & information.
   */
  --colour-primary-soft: #DDEDFF;
  --colour-primary-default: #2E46B9;
  --colour-primary-hover: #1D3297;
  --colour-primary-pressed: #162676;

  /*
   * Secondary
   * Applied sparingly to highlight information.
   */
  --colour-secondary-soft: #FFF3DF;
  --colour-secondary-default: #FF9D51;
  --colour-secondary-hover: #FF9133;
  --colour-secondary-pressed: #ED7C2B;
  --colour-secondary-border: #2E46B9;

  /*
   * Success
   * Applied sparingly to show positive feedback/status.
   */
  --colour-success-soft: #CCEDD8;
  --colour-success-default: #80CE97;
  --colour-success-hover: #00A759;
  --colour-success-pressed: #00A759;

  /*
   * Warning
   * Applied sparingly to show warning feedback/status.
   * Notifications/messaging
   */
  --colour-warning-soft: #F8EFCA;
  --colour-warning-default: #F4DF83;
  --colour-warning-hover: #F4CA11;
  --colour-warning-pressed: #F4CA11;

  /*
   * Danger
   * Applied sparingly to show negative feedback/status or dangerous actions.
   * Errors
   */
  --colour-danger-soft: #F7D7DB;
  --colour-danger-default: #EFA6AF;
  --colour-danger-hover: #DE3C50;
  --colour-danger-pressed: #DE3C50;

  /*
   * Text+Icon
   * Applied frequently for text and icons.
   */
  --colour-ti-base: #222633;
  --colour-ti-secondary: #515362;
  --colour-ti-muted: #878999;
  --colour-ti-highlight: #2c49dd;
  --colour-ti-warning: #F4CA11;
  --colour-ti-critical: #DE3C50;
  --colour-ti-success: #00A759;

  /*
   * Accent Colours
   * Used for accents, gradients, highlights.
   * *Do not use with text
   */
  --colour-accent-teal: #00A759;
  --colour-accent-blue: #85B2FF;
  --colour-accent-purple: #AE55F7;
  --colour-accent-orange: #FFC28B;
  --colour-accent-pink: #F7D7DB;
  --colour-accent-gray: #6E6F9B;

  /*
   * Brand Colours
   * Appointment
   */
  --colour-apmt-soft: #F3F9FC;
  --colour-apmt-primary: #1D3297;
  --colour-apmt-primary-hover: #162676;
  --colour-apmt-primary-pressed: #162676;
  --colour-apmt-secondary: #FFFFFF;
  --colour-apmt-accent-1: #DDEDFF;
  --colour-apmt-accent-2: #85B2FF;

  /*
   * Brand Colours
   * Send
   */
  --colour-send-soft: #FEF7EC;
  --colour-send-primary: #FF9133;
  --colour-send-primary-hover: #FF9133;
  --colour-send-primary-pressed: #FF9133;
  --colour-send-primary-secondary: #ED7C2B;
  --colour-send-primary-accent-1: #2E46B9;
  --colour-send-primary-accent-2: #2E46B9;

  &.dark {
    /*
     * Neutral
     * Applied frequently for backgrounds, surfaces, dividers, and outlines.
     */
    --colour-neutral-base: #222633;
    --colour-neutral-lower: #18181B;
    --colour-neutral-raised: #222633;
    --colour-neutral-subtle: var(--colour-neutral-raised);
    --colour-neutral-border: #323543;
    --colour-neutral-border-intense: #515362;

    /*
     * Primary
     * Applied frequently to surfaces highlight actions & information.
     */
    --colour-primary-soft: #1B1763;
    --colour-primary-default: #85B2FF;
    --colour-primary-hover: #688AEA;
    --colour-primary-pressed: #4A62D4;
    /*--primary-text: #222633; // No matching light-mode variable! */

    /*
     * Secondary
     * Applied sparingly to highlight information.
     */
    --colour-secondary-soft: #3A0764;
    --colour-secondary-default: #F5E8FF;
    --colour-secondary-hover: #ECD5FF;
    --colour-secondary-pressed: #DDB4FE;

    /*
     * Success
     * Applied sparingly to show positive feedback/status.
     */
    --colour-success-soft: #00A759;
    --colour-success-default: #CCEDD8;
    --colour-success-hover: #80CE97;
    --colour-success-pressed: #80CE97;

    /*
     * Warning
     * Applied sparingly to show warning feedback/status.
     * Notifications/messaging
     */
    --colour-warning-soft: #F4CA11;
    --colour-warning-default: #F8EFCA;
    --colour-warning-hover: #F4DF83;
    --colour-warning-pressed: #F4DF83;

    /*
     * Danger
     * Applied sparingly to show negative feedback/status or dangerous actions.
     * Errors
     */
    --colour-danger-soft: #DE3C50;
    --colour-danger-default: #F7D7DB;
    --colour-danger-hover: #EFA6AF;
    --colour-danger-pressed: #EFA6AF;

    /*
     * Text+Icon
     * Applied frequently for text and icons.
     */
    --colour-ti-base: #F1F3FB;
    --colour-ti-secondary: #DFE1EB;
    --colour-ti-muted: #A7C9FF;
    --colour-ti-highlight: #85B2FF;
    --colour-ti-warning: #F4DF83;
    --colour-ti-critical: #DE3C50;
    --colour-ti-success: #80CE97;

    /*
    * Form elements
    * Applied frequently for inputs, switches and interactive elements.
    */
    --colour-form-base: #878999;
    --colour-form-active: #CCEDD8;
    --colour-form-inactive: #FEFFFF;
    --colour-form-highlight: #222633;
    --colour-form-border-intense: #515362;

    /*
     * Accent Colours
     * Used for accents, gradients, highlights.
     * *Do not use with text
     */
    --colour-accent-teal: #CCEDD8;
    --colour-accent-blue: #85B2FF;
    --colour-accent-purple: #8022CE;
    --colour-accent-orange: #FFC28B;
    --colour-accent-pink: #F7D7DB;
    --colour-accent-gray: #CFD1DF;

    /*
     * Brand Colours
     * Appointment
     */
    --colour-apmt-soft: #222633;
    --colour-apmt-primary: #CCEDD8;
    --colour-apmt-primary-hover: #80CE97;
    --colour-apmt-primary-pressed: #80CE97;
    --colour-apmt-secondary: #00A759;
    --colour-apmt-accent-1: #CCEDD8;
    --colour-apmt-accent-2: #85B2FF;

    /*
     * Brand Colours
     * Send
     */
    --colour-send-soft: #411107;
    --colour-send-primary: #FF9133;
    --colour-send-primary-hover: #FF9133;
    --colour-send-primary-pressed: #FF9133;
    --colour-send-primary-secondary: #ED7C2B;
    --colour-send-primary-accent-1: #2E46B9;
    --colour-send-primary-accent-2: #2E46B9;
  }

  &[data-tbpro-service='apmt'] {
    --colour-service-soft: var(--colour-apmt-soft);
    --colour-service-primary: var(--colour-apmt-primary);
    --colour-service-primary-hover: var(--colour-apmt-primary-hover);
    --colour-service-primary-pressed: var(--colour-apmt-primary-pressed);
    --colour-service-secondary: var(--colour-apmt-secondary);
    --colour-service-accent-1: var(--colour-apmt-accent-1);
    --colour-service-accent-2: var(--colour-apmt-accent-2);
  }
  &[data-tbpro-service='send'] {
    --colour-service-soft: var(--colour-send-soft);
    --colour-service-primary: var(--colour-send-primary);
    --colour-service-primary-hover: var(--colour-send-primary-hover);
    --colour-service-primary-pressed: var(--colour-send-primary-pressed);
    --colour-service-secondary: var(--colour-send-primary-secondary);
    --colour-service-accent-1: var(--colour-send-primary-accent-1);
    --colour-service-accent-2: var(--colour-send-primary-accent-2);
  }


}
